@font-face {
    font-family: "Merriweather";
    src: url("https://fonts.googleapis.com/css?family=Merriweather");
}

:root {
    --font-color: black;
}

html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: white;
    font-family: "Merriweather", sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #000000;
}

body a {
    text-decoration: none;
    text-decoration-color: #0000FF;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

h1, h3 {
    margin: 0;
    padding: 0;
}

p, ol, ul {
    margin-top: 0;
}

ol, ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
}

strong {
}

a {
    color: #0000FF;
}

a:hover {
    text-decoration: none;
}

.container {
    padding: 2em;
}

.left-container {
    float:left;
    width: 45%;
    text-align: left;
}

.left-container img {
    height: 80%;
}

.content-row {
    overflow: hidden;
    padding-bottom: 2em;
}

.right-container {
    float:right;
    width: 45%;
    text-align: left;
    height: 50%;
}

.right-container p {

}

.info img {
    width: 90%;
    border-radius: 10px;
    border: 2px solid black;
}

.info {

}




/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

form {
}

form label {
    display: block;
    text-align: left;
    margin-bottom: 0.5em;
}

form .submit {
    margin-top: 2em;
    background: #8DCB89;
    border-radius: 8px;
    line-height: 1.5em;
    font-size: 1.3em;
}

form input.text,
form select,
form textarea {
    position: relative;
    -webkit-appearance: none;
    display: block;
    border: 0;
    background: #fff;
    background: rgba(255, 255, 255, 0.75);
    width: 90%;
    border-radius: 0.50em;
    margin: 1em 0em;
    padding: 1em 1em;
    box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.15);
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    outline: none;
}

form input.text:hover,
form select:hover,
form textarea:hover {
}

form input.text:focus,
form select:focus,
form textarea:focus {
    box-shadow: 0 0 2px 1px #E0E0E0;
    background: #fff;
}

form textarea {
    min-height: 10em;
}

form .formerize-placeholder {
    color: #555 !important;
}

form ::-webkit-input-placeholder {
    color: #555 !important;
}

form :-moz-placeholder {
    color: #555 !important;
}

form ::-moz-placeholder {
    color: #555 !important;
}

form :-ms-input-placeholder {
    color: #555 !important;
}

form ::-moz-focus-inner {
    border: 0;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .1);
}

.image img {
    display: block;
    width: 100%;
}

.image-full {
    display: block;
    width: 100%;
    margin: 0 0 3em 0;
}

.image-left {
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered {
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img {
    margin: 0 auto;
    width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1 {
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact {
    margin: 0;
    padding: 0em 0em 3em 0em;
    list-style: none;
}

ul.contact li {
    display: inline-block;
    padding: 0em 0.50em;
    font-size: 1.5em;
}

ul.contact li span {
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a {
}

ul.contact li a:hover:before {
    color: #FFF;
}

ul.contact li a:before {
    display: inline-block;
    text-align: center;
    color: rgba(255, 255, 255, .4);
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/




.button {
    display: inline-block;
    margin-top: 2em;
    margin-right: 2em;
    padding: 1em 2em 1em 2em;
    background: lightblue;
    border-radius: 8px;
    letter-spacing: 0.20em;
    line-height: 1.8em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    color: #FFF;
}

.button a {
    text-decoration: none;
    color: inherit;
}

.button:hover {
    background: blue;
}

.button:before {
    display: inline-block;
    background: blue;
    margin-right: 1em;
    width: 50px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: blue;
}

.button-small {
    padding: 0.9em 2em;
    background: #8DCB89;
    border-radius: 5px;
    line-height: 1.8em;
    font-size: 1em;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
    text-align: left;
    margin-bottom: 1.5em;
}

.title h1 {
    font-size: 3em;
    color: black;
}

.title h2 {
    font-size: 2.8em;
    color: rgba(255, 255, 255, 0.9);
}

.title .byline {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em;
    color: #6F6F6F;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper {
    overflow: hidden;
    padding: 5em 0em;
    background: #8DCB89 url(../images/header.jpg) no-repeat center;
    background-size: cover;
}

#header {
}

.hidden {
    opacity: 0;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

body,html{
    height: 100%;
}

#front-page {
    position: relative;
    background:white;
    overflow:hidden;
}


#bottom-buttons {
    width: 100%;
    text-align: center;
    display: inline;
}

#bottom-buttons a {
    text-decoration: none;
}

#intro {
    margin-top: 10%;
    text-align: center;
}

#intro h1 {
    font-size: 4em;
    color: var(--font-color);
}

#intro a {
    text-decoration: none;
    color: #010101;
}

#intro span {
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 0.90em;
    color: rgba(1, 1, 1, 0.5);
}

#intro span a {
    color: rgba(1, 1, 1, 0.8);
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#fade-menu {
}

#fade-menu ul {
    text-align: center;
}

#fade-menu li {
    opacity: 0;
    background-color: blue;
    border-radius: 0px;
    color: #FFF;
    display: inline-block;
}

#fade-menu li a, #fade-menu li span {
    display: inline-block;
    padding: 1em 1.5em;
    letter-spacing: 0.20em;
    text-decoration: none;
    font-size: .9em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #FFF;
}

.fly-in-element {
    text-align: center;
    position: relative;

    /** virtual height depends on the monitor so therefore it should work regardless of screen size*/
    left: -100vw;
}

#fade-menu li:hover a, #fade-menu li.active a, #fade-menu li.active span {
    border-radius: 8px;
    background-color: orange;
}

#fade-menu .current_page_item a {
    background: #ff6816;
    border-radius: 8px;
    color: #FFF;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

.body {
    font-size: 1.4em;
    padding-top: 2em;
    text-align: center;
}

.column-left {
    float: left;

    /*
    If you put padding on the left or right it will mess up the table completely
     */
    width: 50%;
    padding-bottom: 2em;
}

.column-right {
    text-align: left;
    float: right;
    width: 50%;
    padding-top: 3em;
    padding-bottom: 2em;
}

.column-left h1 {
    padding-bottom: .3em;
}

.body img {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.fade-in-text {
    display: none;
}

.text-change {
    display: none;
}

#hello {
    overflow: auto;
    display: block;
}

.first-background {
    background: white;
}

#wrapper2 {
    background: #EDEDED;
}

#wrapper3 {
    overflow: hidden;
    padding: 8em 0em;
    background: #FFF;
}

#wrapper4 {
    overflow: hidden;
    padding: 8em 0em;
    background: #E74E59;
}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome {
    overflow: hidden;
    padding: 8em 0em;
    text-align: center;
}

#welcome .content {
    padding: 0em 8em;
}

#welcome .title {
    text-align: center;
}

#welcome .title h2 {
    color: rgba(0, 0, 0, 0.8);
}

#welcome a,
#welcome strong {
    color: rgba(0, 0, 0, 0.8);
}

.show-on-scroll {
    display: none;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page {
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content {
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar {
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
    text-align: center;
}

#footer .title span {
    color: rgba(255, 255, 255, 0.4);
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
    overflow: hidden;
    padding: 5em 0em;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    text-align: center;
}

#copyright p {
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.80em;
    color: rgba(255, 255, 255, 0.3);
}

#copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

/*********************************************************************************/
/* Newsletter                                                                    */
/*********************************************************************************/

#newsletter {
    overflow: hidden;
    padding: 8em 0em;
    background: #EDEDED;
    text-align: center;
}

#newsletter .title h2 {
    color: rgba(0, 0, 0, 0.8);
}

#newsletter .content {
    width: 600px;
    margin: 0px auto;
}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

#portfolio {
}

#portfolio .pbox1,
#portfolio .pbox2 {
    overflow: hidden;
}

#portfolio .box {
    padding: 1em 2em 1em 1em;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

#portfolio h3 {
    display: block;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
}

#portfolio .title {
    text-align: center;
}

#portfolio .title h2 {
    color: rgba(0, 0, 0, 0.8);
}

#portfolio .icon {
    display: block;
    margin-bottom: 1em;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.6);
}

.column1,
.column2,
.column3,
.column4 {
    width: 282px;
}

.column1,
.column2,
.column3 {
    float: left;
    margin-right: 23px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.column4 {
    float: right;
}

/*********************************************************************************/
/* Featured                                                                     */
/*********************************************************************************/

#featured {
    overflow: hidden;
    padding: 8em 0em;
}

#featured .box1,
#featured .box2 {
    width: 570px;
    color: rgba(0, 0, 0, 0.6);
}

#featured .box1 {
    float: left;
}

#featured .box2 {
    float: right;
}

#featured .box1 h2,
#featured .box2 h2 {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 600;
    color: #3a3a3a;
}

#featured .box1 span,
#featured .box2 span {
    padding-right: 0.50em;
}
	