<div class = "container-fluid">
        <div class = "row">
            <div class = "col-xs-8">
                <h1 class = "header border-bottom" > <b>Cameron Trando</b></h1>
            </div>
            <div class = "col-xs-1 padding-top">
                 <a href = "https://www.google.com/">
                <img src = "{{site.baseurl}}/images/treekodefaultdown.png">
                </a>
            </div>
            <div class = "col-xs-1 padding-top">
                <img src = "{{site.baseurl}}/images/treekodefaultdown.png">
            </div>
            <div class = "col-xs-1 padding-top">
                <img src = "{{site.baseurl}}/images/treekodefaultdown.png">
            </div>
            <div class = "col-xs-1 padding-top">
                <img src = "{{site.baseurl}}/images/treekodefaultdown.png">
            </div>
        </div>
</div>