<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{post.title}}</title>
        <link href="{{site.baseurl}}/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
        <link href="{{site.baseurl}}/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="{{site.baseurl}}/bootstrap/css/myCustom.css" rel="stylesheet">
        
            
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src = "{{site.baseurl}}/bootstrap/js/bootstrap.js">
    
    </script>
    
    </head>
<body class = "background my-margin">
    {% include header.html %}
    <div class = "col-xs-12">
        <h1>
            {% if page.title != null %} 
                {{page.title}}
            {% else %}
                {{site.title}}
            {% endif %}
        </h1>
        {{content}}
    </div>
    </body>
   <!--{% include footer.html %}-->
</html>